<div class="playerChoice" id="boxContainer" style="display: none;">
    <div id="Aerith">
        <a href="#" onclick="game.callCharacter('Aerith')">
        <img src="/images/characters/thumbs/Aerith.png" alt="Aerith"></a>
        
        <h3>Aerith Gainsborough</h3>
        <p>
            <br> Weapon : Rod
            <br> Class : Magician
            <br> Limit break type : Heal Wind
        </p>    
    </div>

    <div id="Cloud">
        <a href="#" onclick="game.callCharacter('Cloud')">
        <img src="/images/characters/thumbs/Cloud.png" alt="Cloud"></a>
        
        <h3>Cloud Strife</h3>
    
        <p>
            <br> Weapon : Sword
            <br> Class : Mercenary
            <br> Limit break type : Omnislash
        </p>  
    </div>

    <div id="RedXIII">
        <a href="#" onclick="game.callCharacter('RedXIII')">
        <img src="/images/characters/thumbs/RedXIII.png" alt="RedXIII"></a>
        
        <h3>Red XIII</h3>
        <p>
            <br> Weapon : HeadDress
            <br> Class : Beast
            <br> Limit break type : Cosmo Memory
        </p>  
    </div>
    

    <div id="Tifa">
        <a href="#" onclick="game.callCharacter('Tifa')">
        <img src="/images/characters/thumbs/Tifa.png" alt="Tifa"></a>
        
        <h3>Tifa Lockhart</h3>
    
        <p>
            <br> Weapon : Gloves
            <br> Class : Warrior
            <br> Limit break : Final Heaven
        </p>  
    </div>


    <div id="Vincent">
        <a href="#" onclick="game.callCharacter('Vincent')">
        <img src="/images/characters/thumbs/Vincent.png" alt="Vincent"></a>
        
        <h3>Vincent Valentine</h3>
    
        <p>
            <br> Weapon : Gun
            <br> Class : Monk
            <br> Limit break : Chaos - Heavy Attack on one enemy
        </p>  
    </div>


    <div id="Barret">
        <a href="#" onclick="game.callCharacter('Barret')">
        <img src="/images/characters/thumbs/Barret.png" alt="Barret"></a>
        
        <h3>Barret Wallace</h3>
    
        <p>
            <br> Weapon : Gun - arm
            <br> Class : Warrior
            <br> Limit break : Catastrophe
        </p>  
    </div>


    <div id="Sephitoth">
        <a href="#" onclick="game.callCharacter('Sephitoth')">
        <img src="/images/characters/thumbs/Sephiroth.png" alt="Sephitoth"></a>
        
        <h3>Sephitoth</h3>
    
        <p>
            <br> Weapon : Long Sword
            <br> Class : Elite Palladin
            <br> Limit break : One Winged Angel
        </p>  
    </div>

    <div id="Yuffie">
        <a href="#" onclick="game.callCharacter('Yuffie')">
        <img src="/images/characters/thumbs/Yuffie.png" alt="Yuffie"></a>
        
        <h3>Yuffie Kisaragi</h3>
    
        <p>
            <br> Weapon : Shuriken
            <br> Class : Rogue
            <br> Limit break :  All Creation 
        </p>  
    </div>

    <div id="Cait_Sith">
        <a href="#" onclick="game.callCharacter('Cait_Sith')">
        <img src="/images/characters/thumbs/Cait-Sith.png" alt="Cait -Sith"></a>
        
        <h3>Cait Sith</h3>
    
        <p>
            <br> Weapon : Megaphone
            <br> Class : Druid
            <br> Limit break : Dice Game 
        </p>  
    </div>
</div>



