<div id="arena" style="display: none;">

    <div id="header">
        <div id="inBattleMessage" style="display: none;"></div>
        <button id="fightBtn"> START BATTLE </button>
    </div>

    <div id="players">
        <div id="playerNameHolder"></div>
        <div id="player1"></div>
        
    </div>

    <div id="opponents">
        <div id="opponentNameHolder"></div>
        <div id="opponent1"></div>
    </div>

    <br>
    <br>

    <div class="fightMenu" id="fightMenu" style="display: none;">

        <div id="playerInfo">

            <div id="userInfos">
                <img id="userAvatar" img src="https://via.placeholder.com/80" width="40" height="40"></img>
                <br>
            <div id="userNameHolder"> Player Name</div>
            <progress id="atbGauge" value="0" max="100"></progress>
            </div>

            <!--
            <div id="guestInfos">
                <img id="guestavatar" img src="https://via.placeholder.com/80" width="40" height="40"></img>
                <br>
            <div id="guestNameHolder">Guest Name</div>
            <progress id="atbGauge" value="0" max="100"></progress>
            </div>
            -->

        </div>
        
        <div id="commands" style="display: none;">
          <button id="attack" class="turn" onclick="attackalert(character)">Attack</button>
          <button id="magic" class="turn">Magic</button>
          <button id="guard" class="turn">Guard</button>
          <button id="heal" class="turn">Heal</button>
        </div>

        <div id="status">

            <div class="hostMenus" id="hostStatus">
                <div id="hpBar">HP 
                    <progress id="healthPoints" value="100" max="100"></progress>
                    <input class="inputValue" id="hhpBarValue" type="text" placeholder="300"></input>
                    <input class="inputValue" id="maxhhpBarValue" type="text" placeholder="/300"></input>
                    
                </div>
                

                <div id="mpBar"> MP
                    <progress id="magicPoints" value="50" max="50"></progress>
                    <input class="inputValue" id="hmpBarValue" type="text" placeholder="300"></input>
                    <input class="inputValue" id="maxhmpBarValue" type="text" placeholder="/300"></input>
                </div>  


                <div id="lbBar"> LB
                    <progress id="limitBar" value="0" max="100"></progress>
                    <input class="inputValue" id="hlbBarValue" type="text" placeholder="300"></input>
                    <input class="inputValue" id="maxhlbBarValue" type="text" placeholder="/300"></input>
                
                </div>
            </div>
            <!--
            <div id="guestStatus">

                <div id="ghpBar"> HP 
                    <progress id="healthPoints" value="100" max="100"></progress>
                    <input class="inputValue" id="ghpBarValue" type="text" placeholder="300"></input>
                    <input class="inputValue" id="maxghpBarValue" type="text" placeholder="/300"></input>
                    
                </div>
                

                <div id="gmpBar"> MP
                    <progress id="magicPoints" value="50" max="50"></progress>
                    <input class="inputValue" id="gmpBarValue" type="text" placeholder="300"></input>
                    <input class="inputValue" id="maxgmpBarValue" type="text" placeholder="/300"></input>
                </div>  


                <div id="glbBar"> LB
                    <progress id="limitBreak" value="0" max="100"></progress>
                    <input class="inputValue" id="glbBarValue" type="text" placeholder="300"></input>
                    <input class="inputValue" id="maxglbBarValue" type="text" placeholder="/300"></input>
                </div>

            </div>
            -->


        </div>

       
    </div>
