
    <!-- EjS Header template partial -->
      <%- include("partials/header.ejs") %>

      <%- include("partials/form.ejs") %>

      <%- include("partials/characterSelect.ejs") %>

      <%- include("arena.ejs") %>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.min.js"></script>
      <script src="/javascripts/main.js"> </script>

  </body>
</html>
