#player1 {
    width: 95px;
    height: 87px;
    background-image: url();
    background-position: 0 0;
    animation-name: idle-x, idle-y;
    animation-name: attack-x, attack-y;
    animation-name: magic-x, magic-y;
    animation-name: guard-x, guard-y;
    animation-duration: 1s, 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(3), steps(1);
}


#player2 {
    width: 95px;
    height: 87px;
    background-image: url();
    background-position: 0 0;
    animation-name: idle-x, idle-y;
    animation-name: attack-x, attack-y;
    animation-name: magic-x, magic-y;
    animation-name: guard-x, guard-y;
    animation-duration: 1s, 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(3), steps(1);
}


#opponent1 {
    width: 95px;
    height: 87px;
    background-image: url();
    background-position: 0 0;
    animation-name: idle-x, idle-y;
    animation-name: attack-x, attack-y;
    animation-name: magic-x, magic-y;
    animation-name: guard-x, guard-y;
    animation-duration: 1s, 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(3), steps(9);
}


#opponent2 {
    width: 95px;
    height: 87px;
    background-image: url();
    background-position: 0 0;
    animation-name: idle-x, idle-y;
    animation-name: attack-x, attack-y;
    animation-name: magic-x, magic-y;
    animation-name: guard-x, guard-y;
    animation-duration: 1s, 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(3), steps(1);
}


@keyframes idle-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -285px;
    }
}

@keyframes idle-y {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -174px;
    }
}


@keyframes attack-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -285px;
    }
}

@keyframes attack-y {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -174px;
    }
}



@keyframes magic-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -348px;
    }
}

@keyframes magic-y{
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -819px;
    }
}




@keyframes guard-x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -285px;
    }
}

@keyframes guard-y {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -174px;
    }
}