
<div class="signInDiv" id ="loginContainer" style="display: none;">

    <h1 id="loginHeader" style="display: none;">LogIn</h1>
    <h1 id="signUpHeader" style="display: none;">Sign Up</h1>

    <input id="username" type="text" placeholder="username"></input>
    <input id="password" type="password" placeholder="password"></input>
      
    <br>

    <button id="signInBtn" style="display: none;">Sign In</button>
    <button id="signUpBtn"style="display: none;">Sign Up</button>
</div>


<div class="createParty" id ="createParty" style="display:none;">

<div class="createSquad" id ="createSquad" >
  <h1 id="newGameHeader" >New Squad</h1>
  <input id="hostName" type="text" placeholder="Player Name"></input>
  <br>
  <button id="createBtn">Create Squad</button>
</div>


<div class="joinSquad" id ="joinSquad">
  <h1 id="joinGameHeader">Join Squad</h1>
  <input id="guestName" type="text" placeholder="Player Name"></input>
  <br>
  <input id="roomID" type="text" placeholder="roomID"></input>
  <br>
  <button id="joinBtn">Join Squad</button>
</div>
</div>

<br>

<div id= "messageScreen" style="display: none;">
    <div class="message" id="message">  </div>
</div>

<div id="btnContainer" style="display: none;">
  <button id="launchGameBtn" style="display: none;">Start Battle</button>
  <button id="goToRoomBtn" style="display: none;">Ok</button>
</div>






