<!-- views/header.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Character</title>

    <!-- ///// Style Sheets Section /////  -->

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Login/Signup Form CSS -->
    <link rel="stylesheet" href="/stylesheets/form.css">
    <!-- Character Select CSS -->
    <link rel="stylesheet" href="/stylesheets/charselect.css">
    <!-- Game Rendering CSS -->
    <link rel="stylesheet" href="/stylesheets/arena.css">
    <!-- Character animations Rendering CSS -->
    <link rel="stylesheet" href="/stylesheets/fightanimations.css">
    <!-- Fight Menu Rendering CSS -->
    <link rel="stylesheet" href="/stylesheets/fightArena.css">



    <!-- ///// JS Sheets Section /////  -->
    


    <!-- <script defer src="./subscriptionform.js"></script> -->

</head>

<body class="body">

  <div class="header" id="header">
    <div class="topnav" id="topnav">
        <img src="/images/icons/Daco_632916.png" id="logo"   alt="logo">
        <a class="signUp" id="signUpNav" href="#" onclick="showSignUp();return false;">Sign Up</a>
        <a class="logIn" id="logInNav" href="#" onclick="showLogIn();return false;">Sign-in</a>
        <a class="gamePlay" id="gamePlayNav" href="#" onclick="playerSelect();return false;" >Gameplay</a> 

      </div>
  </div>

  <br>
  <br>
  <br>
